body {
    background: #222;
    padding:0px;
    margin:0px;
    overflow: hidden;
}

li {
    list-style-type: none;
}

input[type="text"], textarea {
    background-color: #343434;
    color: white;
}


#newCleverBot {
    display: none;
}

#mainCon {
    /*position: absolute;
    left: 0;
    width:0px;
    top: 40px;
    bottom: 0;
    padding-bottom:4px;*/

    margin-top: 40px;
    height: calc(100% - 40px);
}

#windowManager {
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    margin:0px;
    margin-bottom:4px;
    padding:4px;
    background-color:#333;
    color: white;
    border-bottom:1px solid #000;
}

.omegleContainer {
    width: 400px;
    float:left;
    margin-right:4px;

    height: calc(100% - 40px);
    display: list-item;
}

.chatMain {
    margin: 0px;
    margin-left: -8px;
    padding: 0px;
    color: white;
    padding-left: 32px;
    vertical-align: top;
}

.chatLeft {
    margin: 0px;
    margin-left: -32;
    padding: 0px;
    vertical-align: top;
    display: inline;
}

.omegleContainer input[type="submit"] {
    width: 80px;
    height: 40px;
    margin-right: 4px;
    vertical-align: top;
}

.omegleContainer button {
    height: 40px;
    margin-right: 4px;
    vertical-align: top;
}

.omegleContainer label {
    margin-left: 8px;
    color: white;
}

.flashCon {
    width: 410px;
    height: 240px;
    text-align: center;
}

.omegleField {
    width: 400px;
    height:120px;
    border: 4px solid #AAA;
    background-color: #343434;
    color: white;
    resize: none;
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;
}

.omegleDebugField {
    display: none;
}

.debugMode .omegleDebugField {
    display: block;
    width: 400px;
    height:120px;
    border: 4px solid #AAA;
    resize: none;
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;
    overflow-y: scroll;
}

.omegleWindowContainer {
    position: absolute;
    top: 46px;
    bottom: 366px;
    width: 400px;
}

.debugMode .omegleWindowContainer {
    bottom: calc(366px + 120px);
}

.videoEnabled .omegleWindowContainer {
    top: 286px;
    bottom: 434px;
}

.omegleClose {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
    cursor: hand;

    float:right;

    border:1px solid #000;
    background:#f54;
    padding:0px;
    padding-left:7px;
    padding-right:7px;
    padding-bottom:3px;

    margin-top: 10px;
    margin-bottom:-40px;
    margin-right:30px;

    -moz-border-radius: 6px;
    border-radius: 6px;
}

.omegleClose.alt {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 4px;
}

.omegleWindow {
    width:400px;
    border: 1px solid #CCC;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    background: #444;
    color: white;
    font-family: Helvetica,Arial,sans-serif;
    padding: 4px;

    overflow-y: scroll;
    height: 100%;
}

.highlight {
    background: #FFd5cc;
}

.highlight .omegleWindow {
    border: 1px solid #F00 !important;
}

.omegleAutoMessage {
    width: 120px;
    height: 65px !important;
    background-color: #343434;
    color:white;
    resize: none;
    display: inline-block;
    padding: 4px;
}

.omegleClientId {
    padding: 4px;
    width: 120px;
    height: 20px !important;
}

.nameField {
    width: 145px;
    height: 20px !important;
    margin-left:4px;
    margin-top:2px;
    resize: none;
    display: inline-block;
    padding: 0px;
    overflow: hidden
}

.timeField {
    width: 79px;
    height: 20px !important;
    margin-left:4px;
    margin-top:2px;
    resize: none;
    display: inline-block;
    padding: 0px;
    overflow: hidden;
}

.topicField {
    width: 400px;
    height: 80px;
    resize: none;
}

.omegleBroadcast {
    display: inline;
}

pre {
    margin:0px;
    white-space: pre-wrap;
    color: #FFF;
}

#totalOmeglers {
    float:right;
    margin-right:10px;
}

.broadcastSelf {
    background: #0F0;
    padding: 1px;
    display: inline;
}

.easySend {
    width: 16px;
    padding: 0px 5px 2px 12px;
    margin-right: 0px;
    color: white;

    -moz-border-radius: 8px;
    border-radius: 8px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    cursor: hand;
}

#autoBlackholeList {
    position: absolute;
    left: 0px;
    right: 0px;
    top:44px;
    bottom: 0px;
    background: #222;
    color: white;
    padding: 4px;
    display: none;
}

#updateBlackHoleList {
    margin-bottom: 4px;
}

#updateBlackHoleListField {
    width: 100%;
    height: calc(100% - 25px);
}

.chatHelperMain {
    height: 100%;
    vertical-align: top;

    border: 1px solid #CCC;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    padding: 4px;
}

.chatHelperForceScrollParent {
    height: 100%;
    overflow-y: scroll;
}

.chatHelperContainer {
    width: 400px;
    float:left;
    margin-right:4px;
    height: calc(100% - 36px);
    padding: 4px;
}

.chatHelperInput {
    width: 100%;
    min-width: 100px;
    background-color: #343434;
    color: white;
}

.chatHelperButtonCon {
    white-space: nowrap;
}

.closeButtonHolder {
    height: 32px;
}

.helperButtonRow {
    margin-top: 4px;
}

.smallButton {
    width: auto !important;
    white-space: pre;
}

.omegleWindow pre {
    border: none;
    background: none;
    padding: 0px;
    overflow: hidden;
}

.fixedButton {
    width: 120px;
}

hr {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    border-top: 1px solid #AAA;
}

.smallerChatButton {
    padding: 2px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    margin-right: 4px;
}

.buttonHolder {
    display: inline-block;
    height: 90px;
}

.buttonHolderTable {
    margin-top: 4px;
}

.bottomContainer {
    position: absolute;
    bottom: 4px;

    height: 360px;
}

.debugMode .bottomContainer {
    height: calc(360px + 120px);
}

.videoEnabled .bottomContainer {
    height: 426px;
}

.chatHelperBottomButtonCon{
    padding-top: 4px;
    text-align: center;
}

.chatHelperBottomButtonConMargin {
    margin-left: 4px;
    margin-right: 4px;
}

.chatHelperStringTable {
    width: 100%;
}

.omegleContainer a {
    cursor: pointer;
    cursor: hand;
}