body {
    background: #fff7ee;
    padding:0px;
    margin:0px;
}

li {
    list-style-type: none;
}

#newCleverBot {
    display: none;
}

#mainCon {
    position: absolute;
    left: 0;
    width:0px;
    top: 32px;
    bottom: 0;
    padding-bottom:4px;
}

#windowManager {
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    margin:0px;
    margin-bottom:4px;
    padding:4px;
    background-color:#fff7cc;
    border-bottom:1px solid #000;
}

#windowManager input[type=checkbox] {
    position: fixed;
    top: 6px;
}

.omegleContainer {
    width: 400px;
    float:left;
    margin-right:4px;
    height:100%;
}

.chatMain {
    margin: 0px;
    margin-left: -8px;
    padding: 0px;
    padding-left: 32px;
    vertical-align: top;
}

.chatLeft {
    margin: 0px;
    margin-left: -32;
    padding: 0px;
    vertical-align: top;
    display: inline;
}

.omegleContainer input[type="submit"] {
    width: 80px;
    height: 40px;
    margin-right: 4px;
    vertical-align: top;
}

.omegleContainer button {
    width: 80px;
    height: 40px;
    margin-right: 4px;
    vertical-align: top;
}

.omegleContainer label {
    margin-left: 8px;
}

.flashCon {
    width: 410px;
    height: 240px;
    text-align: center;
}

.omegleField {
    width: 100%;
    height:120px;
    border: 4px solid #AAA;
    resize: none;
}

.omegleWindowContainer {
    height:100%;
}

.omegleClose {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
    cursor: hand;

    float:right;

    border:1px solid #000;
    background:#f54;
    padding:0px;
    padding-left:7px;
    padding-right:7px;
    padding-bottom:3px;

    margin-top: 10px;
    margin-bottom:-40px;
    margin-right:30px;

    -moz-border-radius: 6px;
    border-radius: 6px;
}

.omegleWindow {
    width:400px;
    height:100%;
    border: 1px solid #CCC;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    background: #FFF;
    font-family: Helvetica,Arial,sans-serif;
    padding: 8px;

    overflow-y: scroll;
}

.highlight {
    background: #FFd5cc;
}

.highlight .omegleWindow {
    border: 1px solid #F00 !important;
}

.omegleAutoMessage {
    width: 168px;
    height:40px;
    resize: none;
}

.nameField {
    width: 145px;
    height: 20px;
    margin-left:4px;
    margin-top:2px;
    resize: none;
}

.timeField {
    width: 90px;
    height: 20px;
    margin-left:4px;
    margin-top:2px;
    resize: none;
}

.topicField {
    width: 420px;
    height: 80px;
    resize: none;
}

.omegleBroadcast {
    display: inline;
}

pre {
    margin:0px;
    white-space: pre-wrap;
}

#totalOmeglers {
    float:right;
    margin-right:10px;
}

.broadcastSelf {
    background: #0F0;
    padding: 1px;
    display: inline;
}

.easySend {
    width: 16px;
    padding: 0px 5px 2px 5px;
    margin-right: 0px;
    color: #000;

    -moz-border-radius: 8px;
    border-radius: 8px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    cursor: hand;
}

#autoBlackholeList {
    position: absolute;
    left: 0px;
    right: 0px;
    top:29px;
    bottom: 0px;
    background: #fff7cc;
    padding: 4px;
    display: none;
}

#updateBlackHoleList {
    margin-bottom: 4px;
}

#updateBlackHoleListField {
    width: 100%;
    height: calc(100% - 25px);
}

.chatHelperMain {
    height: 100%;
    vertical-align: top;

    border: 1px solid #CCC;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.chatHelperContainer {
    width: 400px;
    float:left;
    margin-right:4px;
    height:100%;
    padding: 4px;
}

.chatHelperInput {
    width: 100%;
    min-width: 100px;
}

.chatHelperButtonCon {
    white-space: nowrap;
}